:root {
--main-bg: #fff;
--main-color: #999;

--dbl-bg: #eee;
--dbl-color: #977;
}

.panel-wrap {
position: fixed;
top: 0;
left: 0;
background: var( --main-bg );
box-shadow: 0 0 .5rem var( --main-color );
height: 100%;
transition: 500ms;
  	width: .2rem;
  	opacity: 0;
 	overflow-x: hidden;
	overflow-y: auto;
  	z-index: 12324242;
}

.panel-wrap:hover,
.panel-wrap--active {
width: 30rem;
opacity: 1;
}

	.b-panel,
	.b-panel *,
	.b-context * {
	border: 0;
	padding: 0;
	margin:	0;
	outline: none;
	font-size: 16px;
	box-sizing: border-box;
	color: var( --main-color );
	font-family: Verdana;
	}

	.b-panel h2,
	.b-panel h3,
	.b-panel p {
	  padding: .5rem 1rem;
	}

	.b-panel hr {
	border: .1rem solid var( --main-color );
	margin: .5rem 0;
	}

	.b-panel input,
	.b-panel textarea,
	.b-panel button {
	display: block;
	width: 100%;
	background: var( --main-bg );
	padding: 1rem;
	margin: .5rem 0;
	transition: 500ms;
	}

	.b-panel input:hover,
	.b-panel textarea:hover,
	.b-panel button:hover {
	background: var( --dbl-bg );
	}

	.b-panel a {
	font-style: italic;
	transition: 500ms;
	text-decoration: none;
	}

	.b-panel a:hover {
	color: var( --main-color )
	}

		.villages-list {
			margin: .5rem 0;
			}
			
				.villages-list .village {
				padding: .5rem;			
				}

				.villages-list .village--active {
				border-left: .2rem solid #999;
				}

				.villages-list .village:nth-child(even) {
				background: var( --dbl-bg );
				}

					.village__builds span {
					display: block;
					padding: .2rem 0;
					}


	.bookmarks {
	padding: .5rem 0;
	}

		.bookmarks a {
		display: inline-block;
		padding: .5rem;		
		}
	
		.bookmarks a:hover {
		background: var( --dbl-bg );
		}

.b-context {
position: absolute;
background: rgba( 250, 250, 250, .7 );
color: #333;
}

	.b-context button,
	.b-context input {
	background: rgba( 250, 250, 250, .7 );
	color: #999;
	text-align: left;
	padding: .3rem 1rem;
	border: 0;
	width: 100%;
	transition: 500ms;
	}

	.b-context button:hover,
	.b-context input:hover {
	background: #fff;
	}
